<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org" th:replace = "~{norml/base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Add contact</title>
</head>
<body>
	<section>
	
	<div class = "card mr-3">
		<div class = "card-body">
			<h1 class = "text-center">Add Contact</h1>
			<div class = "container-fluid mt-1">
				<div class = "row">
					<div class = "col-md-10 offset-md-1">
					
					<!-- used for image -->
					<form action = "#" th:object = "${contact}" enctype = "multipart/form-data"
					 method = "post" th:action = "@{/user/process-contact}"
					class= "mt-2">
					
					<!-- first name field -->
					<div class = "input-group mt-3">
					<div class = "input-group-prepend">
						<div class = "input-group-text ">
							<i class = "fa fa-plus"></i>
							</div>
					
					</div>
							<input type = "text" name = "name" placeholder = "Enter name here" class = "form-control py-2 ">

						
						
					
					</div>
					
					<!-- second name field -->
					<div class = "input-group mt-3">
					<div class = "input-group-prepend">
						<div class = "input-group-text ">
							<i class = "fas fa-user-alt"></i>
								</div>
					
					</div>
							<input type = "text" name = "nickname" placeholder = "Enter nickname here" class = "form-control py-2">
	
						
					
					
					</div>
					
					<!-- phone field -->
					
					<div class = "input-group mt-3">
					<div class = "input-group-prepend">
						<div class = "input-group-text ">
							<i class = "fa fa-phone"></i>
								</div>
					
					</div>
							<input type = "number" name = "phone" placeholder = "Enter phone no. here" class = "form-control py-2">
	
						
					
					
					</div>
					
					<!-- email field -->
					<div class = "input-group mt-3">
					<div class = "input-group-prepend">
						<div class = "input-group-text ">
							@
								</div>
					
					</div>
							<input type = "email" name = "email" placeholder = "Enter email here" class = "form-control py-2">
	
						
					
					
					</div>
					
					<!-- work field -->
					<div class = "input-group mt-3">
					<div class = "input-group-prepend">
						<div class = "input-group-text ">
							<i class = "fa fa-briefcase"></i>
							</div>
					
					</div>
							<input type = "text" name = "work" placeholder = "Enter work here" class = "form-control py-2">
	
						</div>
						
						<!-- description -->
						<div class = "form-group mt-3">
							<textarea placeholder = "Enter contact description"name = "description" id = "description" class = "form-control desc-box" row = "10"></textarea>
						
						</div>
						
						<!-- contact image -->
						<div class = "custom-file">
							<input type = "file" name = "profileImage">
						
						</div>
						
						<!-- add contact button -->
						<div class = "container text-center">
						<button class = "btn btn-outline-primary">Save Contact</button>
						
						</div>
					</form>
					
					</div>
				
				
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	
	
	</section>
</body>
</html>