<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org" th:replace = "~{norml/base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>User Dash-board</title>
</head>
<body>
	
	<section>
	
	<div class = "container">
		<div class = "card my-5">
			<div class = "card-body">
				<div class = "container text-center">
					<img style = "height:200px; width : 200px;" class = "my-profile-picture" th:src = "@{'/img/contact.jpg}">
				
				</div>
			
			<h1 class = "text-center mt-3 text-secondary font-italic font-weight-light">
			Start adding your account on cloud
			
			</h1>
			
		<a th:href = "@{/user/add_contact}" class = "btn btn-primay btn-block text-uppercase">Add New contacts</a>>
			</div>
		
		</div>
	
	</div>
	
	
	</section>


</body>
</html>